<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          />

          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
            Debe ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Correo</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ EmailErrorMsg }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Username del usuario"
            formControlName="username"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('username')">
            No Puede ser "Manco"
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password del usuario"
            formControlName="password"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            La password debe ser mayor a 6 caracteres
          </span>
        </div>
      </div>

      <!-- Repetir Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Repetir password"
            formControlName="password2"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoValido('password2')"
          >
            Las passwords no coinciden
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
          >
            Registrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h3>Form Valid: {{ miFormulario.valid }}</h3>
<h3>Value</h3>
<pre>{{ miFormulario.value | json }}</pre>
<h3>Errores nombre</h3>
<pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>
<h3>Errores email</h3>
<pre>{{ miFormulario.controls["email"].errors | json }}</pre>
<h3>Errores username</h3>
<pre>{{ miFormulario.controls["username"].errors | json }}</pre>
<h3>Errores password</h3>
<pre>{{ miFormulario.controls["password"].errors | json }}</pre>
<h3>Errores password2</h3>
<pre>{{ miFormulario.controls["password2"].errors | json }}</pre>
